services:
  - type: web
    name: shs-app
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 3838
    plan: standard
    autoDeploy: true
